<form name="searchform" novalidate>

    <div class="row">
        <!-- product section -->
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <label>Product</label>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-6 form-group"
                     ng-class="{ 'has-error' : searchform.title.$invalid }">
                    <input type="text" class="form-control" placeholder="Product Title" name="title"
                           ng-model="ctrl.searchCriteria.title" ng-minlength="3">
                    <p ng-show="searchform.title.$invalid" class="help-block">
                        Product Title should be at least 3 characters long
                    </p>
                </div>

                <div class="col-md-12 col-sm-6">
                    <div class="btn-group btn-group-justified">
                        <select class="form-control"
                                ng-model="ctrl.searchCriteria.category"
                                ng-options="category for category in ctrl.categories">
                            <option value="">-- Any Category--</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- / product section -->


        <!-- price section -->
        <div class="col-md-4 col-sm-6">
            <div class="form-group">
                <label>Current Price</label>
            </div>

            <auction-price-range low-price="ctrl.searchCriteria.lowPrice" high-price="ctrl.searchCriteria.highPrice">
            </auction-price-range>
        </div>
        <!-- / price section -->


        <!-- auction section -->
        <div class="col-md-4 col-sm-6">
            <div class="form-group">
                <label for="datepicker">Max Auction Close Date</label>
            </div>
            <div class="form-group">
                <div ng-class="{ 'has-error' : searchform.closeDate.$invalid }">
                    <div class="input-group">
                        <input id="datepicker" name="closeDate" type="text" class="form-control" is-open="ctrl.isPopupOpened"
                               datepicker-popup='MM/dd/yyyy' ng-model="ctrl.searchCriteria.date"
                               min="ctrl.minDate" auction-date-picker-validation/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="ctrl.openPopup($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                    <p ng-show="searchform.closeDate.$invalid" class="help-block" >
                        Close Date should be greater then today
                    </p>
                </div>
            </div>

            <div class="form-group row">
                <span id="labelSpan" class="col-xs-9">
                    <label for="spinner" class="control-label">Number of Bids</label>
                </span>

                <span class="col-xs-3" ng-class="{ 'has-error' : searchform.bids.$invalid }">
                    <input id="spinner" name="bids" type="number" class="pull-right form-control"
                           ng-model="ctrl.searchCriteria.numberOfBids" min="0">
                </span>
            </div>
            <div ng-class="{ 'has-error' : searchform.bids.$invalid }">
                <p ng-show="searchform.bids.$invalid" class="help-block" >
                    Number of Bids should be numeric and positive
                </p>
            </div>
        </div>
        <!-- / auction section -->

    </div>

    <!-- find button -->
    <div class="row text-center">
        <a ng-href="{{searchResultsUrl}}" class="btn btn-primary">Find Now</a>
    </div>

</form>

<hr>